In [0]:
import pandas as pd
import numpy as np
import pyecharts

In [0]:
data_path = 'patient_data.csv'
data = pd.read_csv(data_path,  encoding = 'euc-kr')

In [34]:
data.head()

         date  ID degree hospital condition sex     type  age country note
0  2020-01-19   1     1차    인천의료원        퇴원   여  중국인 관광객  30대      중국  NaN
1  2020-01-22   2     1차  국립중앙의료원        퇴원   남    우한 교민  50대      한국  NaN
2  2020-01-25   3     1차   일산명지병원        입원   남    우한 교민  50대      한국  NaN
3  2020-01-26   4     1차  분당서울대병원        퇴원   남   우한 방문자  50대      한국  NaN
4  2020-01-30   5     1차    서울의료원        입원   남   우한 방문자  30대      한국  NaN

In [35]:
data = data.fillna("")
data.head()

         date  ID degree hospital condition sex     type  age country note
0  2020-01-19   1     1차    인천의료원        퇴원   여  중국인 관광객  30대      중국
1  2020-01-22   2     1차  국립중앙의료원        퇴원   남    우한 교민  50대      한국
2  2020-01-25   3     1차   일산명지병원        입원   남    우한 교민  50대      한국
3  2020-01-26   4     1차  분당서울대병원        퇴원   남   우한 방문자  50대      한국
4  2020-01-30   5     1차    서울의료원        입원   남   우한 방문자  30대      한국

In [0]:
age = list(np.sort(data.age.unique()))
age_value = list(data.age.value_counts().sort_index())

In [0]:
age_bar = (
        Bar()
        .add_xaxis(age)
        .add_yaxis("확진자 수(명)", age_value, color="#BDBDBD")
        .set_global_opts(title_opts=opts.TitleOpts(title="격리병원"))
        .set_series_opts(label_opts=opts.LabelOpts(position="right", color=["black"]))
        .reversal_axis()
)

In [50]:
age_bar.render()

'/content/drive/My Drive/render.html'

In [0]:

age_bar.render_notebook()